footer {
  background-color: teal;
  color: white;
}

section {
  padding-bottom: 200px;
}

.gh-ic,
.li-ic,
.ins-ic,
.mailto,
.tel {
  color: inherit;
}
.gh-ic:hover,
.li-ic:hover,
.ins-ic:hover,
.mailto:hover,
.tel:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button {
}

button:hover {
}

.contact {
  padding-bottom: 100px;
}
