footer {
  background-color: teal;
  color: white;
}

section {
  padding-bottom: 250px;
}

.contact {
  padding-bottom: 100px;
}

a {
  color: inherit;
}
a :hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
