body {
  background: linear-gradient(#74a4bc, #6f8695);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.jumbotron {
  background-color: #5b85aa;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  background: linear-gradient(#74a4bc, #6f8695);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card {
  float: none;
  margin: 30px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6f8695;
  color: whitesmoke;
  text-align: center;
  font-size: 12px;
}

.navbar {
  background-color: #74a4bc !important;
}

h2 {
  color: #74a4bc;
}

button {
  background-color: #5b85aa !important;
  border-radius: 8px !important;
}

button:hover {
  background-color: #274690 !important;
}
