body {
  background: linear-gradient(#464159, #6c7b95);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card {
  float: none;
  margin: 80px 80px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6c7b95;
  color: whitesmoke;
  text-align: center;
  font-size: 12px;
}

.navbar {
  background-color: #464159 !important;
}

h3 {
  color: #6c7b95;
}

button {
  background-color: #8bbabb !important;
  border-radius: 8px !important;
}

button:hover {
  background-color: #c7f0db !important;
}
