html {
  scroll-behavior: smooth;
}

body {
  padding-top: 100px;
  background-color: #def2f1;
}

h2,
h4,
h5,
h6 {
  color: #2b7a78;
}

h5 {
  font-weight: bold;
}
.about {
  font-weight: normal;
  padding-top: 50px;
}

footer {
  background: #17252a;
  color: #def2f1;
}

section {
  padding-top: 100px;
  padding-bottom: 10px;
}

.btn-sm {
  margin-right: 6px;
}

.btn {
  background-color: #17252a;
  color: #def2f1;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #2b7a78;
  color: #def2f1;
}

.nav-link,
.navbar-brand {
  color: #def2f1 !important;
  font-weight: normal;
  font-size: 18px;
}

.gh-ic,
.li-ic,
.ins-ic,
.mailto,
.tel {
  color: #2b7a78;
}

.gh-ic:hover,
.li-ic:hover,
.ins-ic:hover {
  color: #def2f1 !important;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #2b7a78 !important;
}

.mailto:hover,
.tel:hover {
  color: #def2f1;
}

.logo {
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

.contact {
  padding-bottom: 100px;
}

.bg-dark {
  background: #17252a !important;
}

.headshot {
  width: 100%;
}

.card {
  margin-top: 20px;
  min-height: 300px;
}
