html {
  scroll-behavior: smooth;
}

body {
  padding-top: 200px;
  background-color: ghostwhite;
}

footer {
  background: #a6fcb7;
  color: black;
}

section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.btn:hover {
  background-color: #80c68c;
  outline-color: none;
}

button:hover {
}

.nav-link,
.navbar-brand {
  color: #4d5d53 !important;
}
.gh-ic,
.li-ic,
.ins-ic,
.mailto,
.tel {
  color: #4d5d53;
}
.nav-link:hover,
.gh-ic:hover,
.li-ic:hover,
.ins-ic:hover {
  color: #a6fcb7 !important;
  text-decoration: none;
  cursor: pointer;
}

.mailto:hover,
.tel:hover {
  color: #4d5d53;
}

.logo {
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

.contact {
  padding-bottom: 100px;
}

/* Bootstrap Overrides */
.bg-dark {
  background: #80c68c !important;
}
